@font-face {
  font-family: Monaco;
  src: url(../fonts/Monaco.ttf);
}

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-facebook: "\ea90";
$icon-instagram: "\ea92";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?enqjvj');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?enqjvj#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?enqjvj') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?enqjvj') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?enqjvj##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}




html {
  scroll-behavior: smooth;
}
*:focus{
  outline:unset !important
}
a {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
body {
  font-family: Monaco, sans-serif;
  &.menu-active{
    overflow: hidden;
    height: 100vh;
  }
  .wrapper {
    position: relative;
    height: 100vh;

    .split {
      height: 100%;
      width: 50%;
      position: relative;

      &.left {

        &.centered {
          padding: 50px 50px 0;
          overflow-y: visible;
        }

        .slide-next, .slide-down {
          cursor: pointer;

          img {
            width: 41px !important;
          }
        }

        .navbar-collapse {

          #nav {
            position: fixed;
            width: 25%;
            top: 5%;
            left: 22%;

            &.sticky {
              width: 47%;
              top: 0;
              left: 0;
              background: #fff;
              z-index: 9999;
              height: 60px;
              display: flex;
              justify-content: flex-end;
              align-items: center;

              .navbar-nav {
                justify-content: flex-end;
              }
            }
          }

          .navbar-nav {
            justify-content: space-between;

            .nav-item {
              .nav-link {
                color: #000;
                font-size: 14px;
              }
            }
          }
        }

        .navbar-content {
          justify-content: flex-end;
          padding-bottom: 10px;
          margin-bottom: 30px;
        }

        .logo-content {
          text-align: center;
          position: absolute;
          z-index: 99999;
          top: 20%;
          left: 42%;
          cursor: pointer;
          transition: .4s all ease-in-out;
          -webkit-transition: .4s all ease-in-out;
          -o-transition: .4s all ease-in-out;
          -moz-transition: .4s all ease-in-out;

          img {
            //width: 125px !important;
          }
          &.minified {
           top: 5%;
           left: 3%;
           position:fixed;
           &.sticky{
              top: 2%;
              -webkit-transition: all 0.5s ease-out;
              -moz-transition: all 0.5s ease-out;
              -o-transition: all 0.5s ease-out;
              transition: all 0.5s ease-out;
            }
          }
        }

        .footer-content {
          position: fixed;
          left: 0;
          bottom: 0;
          height: 50px;
          width: 50%;
          color: #000;
          background-color: #fff;
          text-align: center;

          .footer-menu {
            display: flex;
            width: 58%;
            margin: 0 auto;
            padding: 0;
            justify-content: space-between;

            .footer-item {
              list-style: none;
              font-size: 10px;
              opacity: 50%;

              .footer-link {
                color: #000;
                text-decoration: none;
              }
            }
          }
        }

        .toggled-content {
          display: none;

          &.visible {
           display: block;
          }

          .navbar {
            height: 40px;

            ul.mobile-visible {
              display: none;
              margin-top: 90px;
              list-style: none;
              padding: 0;

              li {
                color: #000;
                opacity: 50%;
                margin-bottom: 27px;
                font-size: 10px;
                text-align: center;

                a {
                  text-decoration: none;
                  color: #000;
                  font-size: 10px;
                  opacity: .5;

                  &#agencyName {
                    opacity: 1;
                  }
                }
              }
            }

            .navbar-toggler {
              .bar1, .bar2, .bar3 {
                width: 25px;
                height: 2px;
                background-color: #333;
                margin: 6px 0;
                transition: 0.4s;
                -webkit-transition: 0.4s;
              }

              &.change .bar1 {
                -webkit-transform: rotate(-45deg) translate(-4px, 6px);
                transform: rotate(-45deg) translate(-4px, 6px);
              }

              &.change .bar2 {opacity: 0;}

              &.change .bar3 {
                -webkit-transform: rotate(45deg) translate(-5px, -8px);
                transform: rotate(45deg) translate(-5px, -8px);
              }
            }
          }

          .navbar-nav {
            .nav-item {
              width: auto;
              padding-left: 10px;

              .nav-link {
                font-size: 14px;
                position: relative;
                color: #000;
                border-radius: unset;
                text-transform: uppercase;
                transition: all .2s ease;
                -moz-transition: all .2s ease;
                -o-transition: all .2s ease;
                -webkit-transition: all .2s ease;

                &:before {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 2px;
                  bottom: 0;
                  left: 0;
                  background-color: #000;
                  visibility: hidden;
                  -webkit-transform: scaleX(0);
                  transform: scaleX(0);
                  -webkit-transition: all 0.15s ease-in-out 0s;
                  transition: all 0.15s ease-in-out 0s;
                }

                &.active {
                  background: none;

                  &:before {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                  }
                }

                &:hover:before {
                  visibility: visible;
                  -webkit-transform: scaleX(1);
                  transform: scaleX(1);
                }
              }
            }
          }

          .tab-content {
            .button-content {
              padding: 25px 0;

              a {
                width: 179px;
                height: 36px;
                background: #000;
                border: none;
                color: #fff;
                display: block;
                text-align: center;
                padding: 7px 0;
                text-decoration: none;
                font-family: Monaco, sans-serif;

                &.menu-pdf-btn {
                  margin-right: 5px;
                }
              }
            }
            .section {
              font-size: 14px;
              margin-bottom: 70px;
              min-height: 100vh;

              &#pills-menu {
                .menu-content {
                  .title {
                    font-weight: bold;
                  }

                  .menu-list {
                    padding: 20px 0 0 0;
                    margin: 0;

                    .list-item {
                      padding-bottom: 20px;
                      .main-item {
                        .item-description {
                           font-size: 15px;
                           opacity: .5;
                        }
                      }
                    }
                  }
                }
              }

              &#pills-reservation {
                .reservation-datetimepicker {
                  iframe {
                    min-height: 488px !important;
                  }
                }
              }

              &#pills-contact {
                margin-bottom: 0;
                .information {
                  .title {
                    font-weight: bold;
                    padding-bottom: 15px;
                  }

                  a {
                    text-decoration: none;
                    color: #000;
                  }
                }
              }
            }
          }
        }
      }

      &.right {
        right: 0;
        background-color: #000;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0;
        position: fixed;

        &.home-page {
          background-image: url("../images/home-page.jpg");
          opacity: 1;
          transition: .3s all ease-out;
          -webkit-transition: .3s all ease-out;
          -o-transition: .3s all ease-out;
          -moz-transition: .3s all ease-out;
        }

        &.about-tab {
          background-image: url("../images/about.jpg");
          opacity: 1;
          transition: .3s all ease-out;
          -webkit-transition: .3s all ease-out;
          -o-transition: .3s all ease-out;
          -moz-transition: .3s all ease-out;
        }

        &.reservation-tab {
          background-image: url("../images/reservation.jpg");
          opacity: 1;
          transition: .3s all ease-out;
          -webkit-transition: .3s all ease-out;
          -o-transition: .3s all ease-out;
          -moz-transition: .3s all ease-out;
        }

        &.menu-tab {
          background-image: url("../images/menu.jpg");
          opacity: 1;
          transition: .3s all ease-out;
          -moz-transition: .3s all ease-out;
          -webkit-transition: .3s all ease-out;
          -o-transition: .3s all ease-out;
        }

        &.contact-tab {
          background-image: url("../images/menu.jpg");
          opacity: 1;
          transition: .3s all ease-out;
          -webkit-transition: .3s all ease-out;
          -o-transition: .3s all ease-out;
          -moz-transition: .3s all ease-out;
        }
      }

      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        &.hidden {
          display: none;
        }

        .description {
          font-size: 14px;
          padding: 37px 0 82px 0;
        }

        .btn-to-menu {
          padding:20px 40px;
          background: #000;
          border: none;
          color: #fff;
          font-size: 20px;
          font-family: Monaco, sans-serif;
          cursor: pointer;
          margin-bottom: 60px;
          display:block;
          text-decoration:none;
        }
      }
    }
    .mobile-visible {
      display: none;
    }
  }

  // styling scroll

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-radius: 4px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 4px;
  }
}

// media content for responsiveness

@media screen and (max-width: 1920px) and (min-width: 1540px) {
    .split {
      &.left.centered {
        padding: 100px 80px 0 100px;
      }

      .toggled-content {
        .nav-pills {
          .nav-item .nav-link {
            font-size: 17px;
          }
        }

        .tab-content {
          .tab-pane .button-content {
            padding: 70px 0 35px 0;
          }
        }
      }

      .footer-content {
        width: 56px;
      }

      .tab-pane {
        font-size: 17px;
      }
    }
}

@media screen and (max-width: 1199px) and (min-width: 993px) {
  .logo-content.minified {
    top: 3% !important;
    left: 3% !important;
    position: fixed !important;
  }
  body .wrapper .split.left .navbar-collapse #nav {
    left: 17%;
    width: 30%;
  }

  .navbar-content {
    position: relative;
    top: 45px;
    justify-content: center !important;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    position: relative;
    width: 113px !important;
    top: -17px;
    height: 50px;
    padding: 0;

    .navbar-collapse {
      position: absolute;
      top: 55px;
      width: 40vw;
      right: -1px;
      height: 100vh !important;
      background: #fff;
      z-index: 9999;
      padding: 20px 0;

      .navbar-nav .nav-item {
        text-align: center;
        margin-bottom: 20px;
      }

      .navbar-nav .nav-link {
        width: 100px;
        margin: 0 auto;
      }
    }
  }

  body .wrapper .split.left .navbar-collapse #nav {
    width: 50%;
    top: 18%;
    left: 0;
  }

  .logo-content {
    top: 25% !important;
    left: 5% !important;
  }

  .logo-content.minified {
    top: 5% !important;
    left: 5% !important;
  }

  .footer-menu {
    width: 90% !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    position: relative;
    width: 113px !important;
    top: -7px;
    height: 50px;
    padding: 0;

    .navbar-collapse {
      position: absolute;
      top: 55px;
      width: 46vw;
      right: -1px;
      height: 100vh !important;
      background: #fff;
      z-index: 9999;
      padding: 20px 0;

      .navbar-nav .nav-item {
        text-align: center;
        margin-bottom: 20px;
      }

      .navbar-nav .nav-link {
        width: 100px;
        margin: 0 auto;
      }
    }
  }

  body .wrapper .split.left .navbar-collapse #nav {
    width: 50%;
    top: 18%;
    left: 0;
  }

  .button-content {
    button {
      width: 145px;
      font-size: 13px;

      &.menu-pdf-btn {
        margin-right: 5px;
      }
    }
  }

  body .wrapper .split.left.centered {
    padding: 30px 20px 0;
  }

  body .wrapper .split .centered .description {
    padding: 36px 0 38px 0;
  }

  body .wrapper .split .centered .btn-to-menu {
    width: 300px;
  }

  .logo-content.minified {
    top: 4% !important;
  }

  .footer-menu {
    width: 90% !important;
  }
}

@media screen and (max-width: 680px) and (min-width: 320px) {
  .split.right {
    display: none;
  }

  .split.left {
    width: 100% !important;
  }

  body .wrapper .split.left.centered {
    padding-left: 0;
    padding-right: 0;
  }

  .description-content, .menu-content, .information {
    padding: 10px 35px;
  }

   .footer-content {
      display: none;
    }

  .navbar {
    width: 113px !important;
    padding-top: 5px;
  }

  .navbar .navbar-collapse {
    right: 0;
    width: 100vw;
    height: 100vh !important;
    transition: .3s all ease-in-out;

    #nav {
      position: unset !important;
      width: 100% !important;
    }

    &.collapse.show {
      ul.mobile-visible {
        display: block;
      }
    }
  }

  .mobile-visible {
    display: block !important;
    margin-bottom: 35px;

    .title {
      font-size: 17px;
      margin-top: 15px;
      text-align: center;

      span {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -12px;
          left: 0;
          background-color: #000;
        }
      }
    }

    .full-width {
      min-height: 388px;

      img {
        max-width: 100%;
        max-height: 100%;
        min-width: 100%;
      }
    }
  }

  .button-content.mobile {
    display: block !important;
    text-align: center;

    a {
      margin-right: auto !important;
      margin-left: auto !important;
      margin-bottom: 20px;
    }
  }

  .description-content p {
    text-align: center;
  }

  .menu-list .list-item .main-item .item-description {
    font-size: 13px !important;
  }

  .logo-content {
    top: 16% !important;
    left: 0 !important;
    width: 100%;

    &.minified {
      width: auto;
      top: 4.5% !important;
      left: calc(50% - 50px) !important;
    }
  }
  body .wrapper .split.left .navbar-content{
    width:100%;
  }
  .navbar-toggler{
    position: fixed;
    z-index: 9999999;
  }
  .navbar .navbar-collapse.show{
    background:#fff;
  }

  body .wrapper .split .centered .description {
    font-size: 13px;
  }

  body .wrapper .split.left .toggled-content .tab-content .section#pills-reservation .reservation-datetimepicker iframe {
    min-height: 535px !important;
  }

}